{% load match_ui %}
{% if team and team.country %}
    {% with country_flag_url=team.country.logo_url %}
        {% if country_flag_url %}
            <span class="home-match-country">
                <img src="{{ country_flag_url }}" width="28" height="28" alt="" loading="lazy" decoding="async">
            </span>
        {% endif %}
    {% endwith %}
{% elif team|team_gender_key %}
    <span class="home-match-country is-gender">
        {% with gender=team|team_gender_key %}
            {% if gender == "male" %}
                <img src="/static/front/img/mens.png" width="28" height="28" alt="" loading="lazy" decoding="async">
            {% elif gender == "female" %}
                <img src="/static/front/img/womens.png" width="28" height="28" alt="" loading="lazy" decoding="async">
            {% elif gender == "mix" %}
                <img src="/static/front/img/mix.png" width="28" height="28" alt="" loading="lazy" decoding="async">
            {% endif %}
        {% endwith %}
    </span>
{% endif %}
