{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Django Admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin_custom/css/admin-dashboard.css' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin_custom/js/admin-dashboard.js' %}" defer></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} cappers-admin admin-shell{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">Django Admin</a></div>
{% endblock %}

{% block nav-global %}
{% include "admin/includes/topbar.html" %}
{% endblock %}
